{% load static %}

<form class="form-signin" hx-post="/login">
    {% csrf_token %}
    <img class="mb-4" src="{% static 'slui/favicon-128x128.png' %}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    {{ form.non_field_errors }}
    <div class="mb-3">
        {{ form.username.errors }}
        <!-- {{ form.username }} -->
        <!-- required -->
        <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Email address" autofocus>
    </div>
    <div class="mb-3">
        {{ form.password.errors }}
        <!-- {{ form.password }} -->
        <!-- required -->
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password">
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Register / Sign in</button>

    <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
</form>