{% load static %}
<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="icon" href="{% static 'slui/favicon-32x32.png' %}">

    <link rel="stylesheet" href="{% static 'slui/bootstrap-5.2.3/css/bootstrap.min.css' %}">

    <title>Palabras</title>
</head>

<body class="bg-light text-center">
    <div class="container">
        <div class="position-absolute top-50 start-50 translate-middle">
            {% include "slui/register-form.html" %}
        </div>
    </div>
    <script src="{% static 'slui/htmx.min.js' %}"></script>
</body>

</html>