Django
# psycopg[binary]

# celery
# django-celery-beat
# django-celery-results
# dramatiq[rabbitmq,redis,watch]

djangorestframework
django-filter
uritemplate
pyyaml
drf-yasg

pytest
pytest-asyncio
pytest-django

django-extensions

unidecode

# channels[daphne]
# channels-redis
# daphne
# Twisted[tls,http2]
# trustme

sqlalchemy[asyncio]
# sqlalchemy-file
aiosqlite
fastapi
uvicorn
aiofiles
starlette-admin
itsdangerous
# sqladmin
